.venv
tmp
__pycache__

# # In development branch flask
# colors5.py
# firebase.py
# raspi_ph.py
# raspicam.py
# test_connect.py
# webcam.py
webcam.py
testing
.env
imgkit.py
color_prediction.py
color_prediction2.py
color_prediction3.py
predict.py
raspi_main.py
main2.py